$primary-color:rgb(212, 176, 241);
$secondary-color: #cc2cb7;
$show-home-image: true;
$home-image: url(../dist/img/acrylic-art-artistic-1083617.jpg);
$background-opacity: 0.9;


html {
    font-size: 15px;
}

@mixin easeOut { 
    transition: all 0.5s ease-out;
}


@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-size: cover;
            background-attachment: fixed;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color, $background-opacity);
            }
        }
    }
}